<div>
    <h2 id="page-heading">
        <span>Scenarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-scenario" [routerLink]="['/scenario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Scenario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="scenarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Detail</span></th>
            <th><span>Thread Count</span></th>
            <th><span>Type</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Approach</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scenario of scenarios ;trackBy: trackId">
                <td><a [routerLink]="['/scenario', scenario.id, 'view' ]">{{scenario.id}}</a></td>
                <td>{{scenario.name}}</td>
                <td>{{scenario.detail}}</td>
                <td>{{scenario.threadCount}}</td>
                <td>{{scenario.type}}</td>
                <td>{{scenario.startDate | date:'medium'}}</td>
                <td>{{scenario.endDate | date:'medium'}}</td>
                <td>{{scenario.approach}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/scenario', scenario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/scenario', scenario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'scenario', { outlets: { popup: scenario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
